* {
    text-align: center;
    font-family: 'Overpass', sans-serif;
    text-decoration: none;
}

.endImg {
    width: 15%;
}

.scoreText {
    font-weight: bold;
}

.shareIcon {
    height: 50px;
    border-radius: 50%;
}