* {
    text-align: center;
    font-family: 'Overpass', sans-serif;
    text-decoration: none;
}

.endImg {
    width: 15%;
}

.scoreText {
    font-weight: bold;
}

.loadingImage {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loadingScreen {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.shareIcon {
    height: 50px;
    border-radius: 50%;
}