/* Add the pixel font using: [font-family: 'Press Start 2P', cursive;] */

body {
    margin:0;
    padding:0;
    overflow: hidden;
}
canvas {
    margin:auto;
}

.speedSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 40px;
    background: #ffffff;
    cursor: pointer;
}

.speedSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    background: #a1a1a1;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: 3px solid black;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 20px;
    border: 3px solid black;
}

progress[value]::-webkit-progress-bar {
    background-color: #a1a1a1;
}

progress[value]#healthProgress::-webkit-progress-value {
    background-color: #ff0000;
}

progress[value]#hydrationProgress::-webkit-progress-value {
    background-color: #0000ff;
}

progress {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}