/* Add the pixel font using: [font-family: 'Press Start 2P', cursive;] */

body {
    margin:0;
    padding:0;
    overflow: hidden;
}
canvas {
    margin:auto;
}

.speedSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 40px;
    background: #ffffff;
    cursor: pointer;
}

.speedSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    background: #a1a1a1;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: 3px solid black;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 20px;
    border: 3px solid black;
}

progress[value]::-webkit-progress-bar {
    background-color: #a1a1a1;
}

progress[value]#healthProgress::-webkit-progress-value {
    background-color: #ff0000;
}

progress[value]#hydrationProgress::-webkit-progress-value {
    background-color: #0000ff;
}

progress[value]#growthProgress::-webkit-progress-value {
    background-color: #228c22;
}

progress[value]#growthProgress {
    -webkit-transform: rotate(180deg) scaleX(-1);
    -moz-transform: rotate(180deg) scaleX(-1);
    -ms-transform: rotate(180deg) scaleX(-1);
    -o-transform: rotate(180deg) scaleX(-1);
    transform: rotate(180deg) scaleX(-1);
}

progress {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

#healthText {
    top: 50%;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    color: white;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    left: 10px;
}

#hydrationText {
    top: 50%;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    color: white;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    right: -5px;
}

#speedText {
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    color: white;
    bottom: 95px;
    font-size: 15px;
    left: 50px;
}

#growthText {
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    color: white;
    bottom: 65px;
    left: 275px;
}

#snailEmoji {
    position: absolute;
    font-size: 17px;
    bottom: 55px;
    left: 45px;
}

#personEmoji {
    position: absolute;
    font-size: 17px;
    bottom: 55px;
    left: 80px;
}

#hareEmoji {
    position: absolute;
    font-size: 17px;
    bottom: 55px;
    left: 110px;
}